<!DOCTYPE html>
<html lang="en">
<head>
	
	<meta charset="utf-8">
	<title>Information train</title>
	{% load static %}
	<link rel="stylesheet" type="text/css" href="{% static 'home/style.css' %}">
</head>
<body>
	<div class="main">
	<div class="navbar">
		<ul>
			<li class="menu"><a href="{% url 'home' %}">Home</a></li>
			<li class="menu"><a href="{% url 'about' %}">About Us</a></li>
		</ul>
	</div>
	<div class="left" style="float: left;">
		{% block left %}
		{% endblock %}
	</div>
	<div class="right" style="float: right;">
		{% block right %}
		{% endblock %}
	</div>
	<div class="content">
		{% block content %}
		{% endblock %}
	</div>
	</div>	
</body>
</html>