{% extends 'home/base.html' %}

{% block content %}
	{% for bg in blog %}
	<a href="{% url 'blog' %}">
	<div class="item">
		{% for bgdt in bg.blogdata_set.all %}
		    <img src="{{bgdt.image.url}}">
		    <h2>{{bgdt.title}}</h2>
		    <h4>{{bg.subject}}</h4>
			<h5>{{bg.category}} {{bg.datetime}}</h5>
		{% endfor %}
	</div>
	</a>
	{% endfor %}
{% endblock %}

{% block left %}
<p>Left Sidejjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjdklasnfljanflajjdklkajk;ajk;lajf;kadjfk;adfj;kaj</p>
{% endblock %}

{% block right %}
<p>Right SidejjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjFLJABFKJSBFJSBFSJBFSJLFBSJLFBLSJFBLSJFBSLJF</p>
{% endblock %}